
@font-face {
    font-family: FinalFrontier;
    src: url("fonts/FinalFrontierOldStyle.ttf");
}

.sheet.journal-entry .journal-entry-content {

    background: white;

    .journal-header .title {
        font-family: FinalFrontier;
        font-style: italic;
        font-size: 3em;
    }

    .action-tbl {
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .action {
        font-size: 1.4em;
        color: red;
        padding-right: 5px;
        text-align: center;
    }

    .action-sub {
        white-space: nowrap;
        padding-right: 5px;
        text-align: center;
    }

}
